<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<%= form_for @article, :url => {:action => "create"} do |f| %>
  <label>Title</label>
  <%= f.text_field :title %><br>

  <label>Content</label>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>